& {
    text-align: center;
    max-width: 360px;
    width: 100%;
    height: auto;
    left: 50%;
    top: 50%;
    margin: -160px -180px;
    box-shadow: 0 0 6px -4px rgba(0, 0, 0, .2);
    border-radius: 3px;
    position: absolute;
    border: 1px solid #000000;
}

.foot {
    a {
        float: left;
    }
}

.input,
.password {
    width: 100%;
}