.field.icon {
    .body {
        padding-right: 50px;
    }

    img {
        vertical-align: middle;
        width         : 26px;
        height        : 26px;
    }
}

& {
    box-shadow: 0 0 20px -6px rgba(0, 0, 0, .2);
    border    : 1px solid #00000011;
    height    : auto;

    >.body {
        height  : 296px;
        overflow: auto;

        model {
            position     : absolute;
            left         : 0;
            right        : 0;
            padding      : inherit;
            top          : 0;
            bottom       : 0;
            display      : block;
            overflow     : hidden;
            text-overflow: ellipsis;
        }
    }
}