.pad:hover>.lead {
    filter: contrast(.6) brightness(1.5);
}
.lead {
    width: auto;
    height: 160px;
    display: block;
    user-select: none;
    transform: rotateX(-10deg) rotateZ(-10deg) rotateY(10deg) translateX(-10px);


    &:hover+.item {

        >a {
            color: #f28;
        }
    }

    &+.item {
        background: #fff;
        position: static;
        transform: rotateX(-10deg) rotateZ(-10deg) rotateY(10deg) translateX(20px) translateY(-30px);
        margin-top: -40px;
        margin-left: -10px;

        >.name {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.8;
        }

        >.desc {
            font-size: 18px;
            font-family: 仿宋;
            font-weight: 900;
        }
    }
}

.item {
    border: 1px solid #2299cc66;
    background: #fff9;
    border-radius: 3px;
    position: relative;
    line-height: 32px;
    display: block;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: 30px;
    padding: 0 12px;

    >.after,
    >.before {
        background-color: rgba(90, 200, 250, .1);
        position: absolute;
        border-radius: 50%;
    }

    >.before {
        width: 60px;
        height: 100px;
        margin: -55px -35px;
        left: 0;
        top: 0;
    }

    >.after {
        margin: -100px -180px;
        width: 300px;
        height: 200px;
        right: 0;
        bottom: 0;
    }

    >* {
        position: relative;
    }

    >.name,
    >.time,
    >a {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    >hr {
        margin: 0 2px;
        border: none;
        border-top: 1px solid #666;
        background: none;
        height: 0;
    }

    >a {
        cursor: pointer;
        font-size: 8px;
        line-height: 1.8;
        vertical-align: middle;
        padding: 2px 0;
    }

    .price {
        color: #c23;
        background: #c233;
        border: 1.0px solid;
        padding: 0 4px;
        margin-right: 6px;
    }

    >* {
        text-indent: 0;
    }

    .name {
        color: #222;
        display: inline;
    }

    .time {
        color: #666;
        font-size: 12px;
        float: right;
        padding-left: 6px;
    }

    .icon {
        width: 20px;
        height: 20px;
        margin-right: 4px;
        top: 8px;
        left: 8px;
        position: absolute;
        text-align: center;
        vertical-align: middle;
    }

    .desc {
        font-size: 12px;
        color: #666;
        display: block;
        padding: 0 2px 6px 6px;
        text-align: justify;
        line-height: 18px;
        text-indent: 2em;
    }
}

.pad {
    perspective: 1000px;
    box-sizing: border-box;
    display: block;
    position: relative;
    padding: 6px 6px;
}

bar {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    text-align: right;
    line-height: 0;

    btn {
        box-sizing: border-box;
        min-width: 60px;
        padding: 0 16px;
        line-height: 44px;
        height: 44px;
        margin: 0;
    }
}

& {
    position: relative;
    height: 100%;
    padding: 0 !important;
}

list {
    padding-top: 48px;
    position: relative;
    height: 100%;
}