<list ng-src="item in items" min-width=240>
    <padding class="pad">
        <itemelem class="item" ng-click="edit(item)" ng-style="{'background-image':'url(\''+encode(item.href)+'\')'}">
            <div class="after">
            </div>
            <div class="before">
            </div>
            <img class="icon" ng-src="getIcon(item)" />
            <marker class="name" _source="item.name" _search=searchText></marker>
            <marker class="desc" _source="item.desc" _search=searchText></marker>
            <marker class="time" _source="filterTime(item.date)" _search=searchText></marker>
            <hr />
            <a @mousedown=event.preventDefault() ng-click="event.stopPropagation();" target="_blank" _title="'打开'+item.name" _href="item.url">
                <span ng-bind="item.url"></span>
            </a>
        </itemelem>
    </padding>
</list>