<list ng-src="item in items" min-width=260>
    <padding class="pad">
        <itemelem class="item" ng-click="edit(item)">
            <div class="after" v-if="!item.image">
            </div>
            <div class="before" v-if="!item.image">
            </div>
            <img draggable="false" class="icon" ng-src="getIcon(item)" />
            <marker class="time" _source="filterTime(item.date)" _search=searchText></marker>
            <marker class="name" _source="item.name" _search=searchText></marker>
            <marker class="desc" _source="item.desc" _search=searchText></marker>
            <hr />
            <a -if="item.cprice>0" -click="event.stopPropagation(),pay(item)"><b class="price"
                    v-bind="item.cprice+'元'"></b>付费并访问</a>
            <a -elseif="item.fprice>0" -click="event.stopPropagation()" _href="item.url" target="_blank"
                _title="'打开'+item.name">限时免费</a>
            <a -else draggable="false" @mousedown=event.preventDefault() ng-click="event.stopPropagation();"
                target="_blank" _title="'打开'+item.name" _href="item.url">
                <span ng-bind="item.url"></span>
            </a>
            <img draggable="false" @click="window.open(item.url)" class="lead" v-if="item.image"
                -src="getIcon(item,'image')" />

        </itemelem>
    </padding>
</list>