<table>
    <thead>
        <tr>
            <td>序号</td>
            <td ng-repeat="i in fields" ng-if="i?.inlist">
                <span ng-bind=i.name></span>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(i,cx) in items" ng-click="edit(i)" ng-contextmenu="showContext(event,i)"
            ng-class="{active:items.active===i}">
            <td><span ng-bind=cx+1></span></td>
            <td ng-if="f?.inlist" ng-repeat="f in fields">
                <model _readonly=true ng-if="f?.key" _field=f _data=i></model>
                <button ng-if="f.options&&o&&!i.loading" _type=o.type ng-repeat="o in f.options"
                    ng-click=event.stopPropagation(),action(o,i)>
                    <span ng-bind=o.name></span>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>