<div class="head" ng-if="isedit">
    <span >添加文件夹</span>
</div>
<div class="head" ng-if="!isedit">
    详情
</div>
<div class="body">
    <field>
        <div>名称</div>
        <div><input ng-model=data.name _disabled="!isedit"></div>
    </field>
</div>
<div class="foot" ng-if="isedit">
    <btn ng-if=save.ing>正在保存</btn>
    <btn ng-if=!save.ing ng-click="save.ing=true,save()">确定</btn>
    <btn type="white" ng-click="isedit=false,!data._rev&&close()">取消</btn>
</div>
<div class="foot" ng-if="!isedit">
    <btn ng-if=save.ing>正在保存</btn>
    <btn ng-if="!save.ing&&user.name===data.author" ng-click="isedit=true">编辑</btn>
    <btn type="white" ng-if="close.ing">取消</btn>
    <btn type="white" ng-if="!close.ing" ng-click="close.ing=true,close(-1)">取消</btn>
</div>